:root {
  --background: ##282D35;
  --headerText: #DEEBF8;
  --text: #FFFFFF;

}

/* CSS Reset */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #33373E;
}

/* End of CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* header */

header {
  position: absolute;
  width: 550px;
  height: 91px;
  left: 0px;
  top: 0px;
  color: var(--headerText);
}

.headerTitle{
position: absolute;
width: 259px;
height: 21px;
left: 264px;
top: 38px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: right;

color: #DEEBF8;
}

body {
  position: absolute;
  width: 681px;
  height: 459px;
  left: 0px;
  top: 91px;
  color: var(--text);
}

h1 {
  position: absolute;
  width: 424px;
  height: 41px;
  left: 27px;
  top: 158px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 39.06px;
  line-height: 47px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

/* bullet points */
ul li::marker {
  position: absolute;
  width: 9.61px;
  height: 160.61px;
  left: 51px;
  top: 239px;
}